@model Domain.Entittes.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="col-12 frm">
        <h4>EDIT USER</h4>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 frm1">
                <form action="~/../EditUser/EditU" method="post">
                    <input type="hidden" name="Id" class="form-control" value="@Model.Id" />
                    <input type="text" name="Name" class="form-control" value="@Model.Name"/>
                    <input type="text" name="Surname" class="form-control" value="@Model.Surname" />
                    <input type="text" name="Age" class="form-control" value="@Model.Age" />
                    <input type="datetime" name="Datebourn" class="form-control" value="@Model.Datebourn" />
                    <input type="text" name="City" class="form-control" value="@Model.City" />
                    <input type="email" name="Email" class="form-control" value="@Model.Email" />
                    <input type="password" name="Password" class="form-control" value="@Model.Password" />
                    <input type="password" name="Repassword" class="form-control" value="@Model.Repassword" />
                    <input type="submit" value="Register" class="btn btn-warning form-control" />
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

